## Data Science Life Cycle

1. Defining the problem - Project scope and goals
   -Defining the KPIS - Product owner, DS and the project Manager 

2. Understanding the data requirement and accessability
   DS, Data Engineers
   
3. Doing EDA (Exploratory Data Analysis) - Draw insights and patterns
   DS, Data Engineer

4. Prepare Data - Feature Engineering/Transformation, creating new variables from the existing features

5. Train and Develop Model
   DS, ML Engineers
   
   Model Validation and optimization
   ML Engineers and with DS
   
6. Deploying production and utilize in any web or dashboard applications
   DEVOPS, MLOPS (DEVOPS, ML Engineers---CI/CD) & DE (Data Pipeline)
   
7. Montoring Model Performance in the Production environment
   -Model decaying - Model performance degrade overtime
   -that could be the Data Distribution change by type and variance
   -There could be business interest change

Can monitor model through alert - Dashboard POWER BI or 
I always look at the RMSE - Root Mean Square Error, R-square
Classification - Accuracy, Recall, Precision, AUC Curve

In [ ]:
# integer('int')

age=21

# float('float')

height=136.5

#comlex Number ('complex')

z=1+2j

#Text Data Types

#String ('str')

name="Khyathi"
message='Hi DS !'

#Sequence Data Types

1. LIST ('list') -- They are ordered collection of items that can be of differeent data types
   - Lists are mutable, which mean you can change the content

In [1]:
#List of friut basket
fruit=["apple","mango","fig"]

In [ ]:
# Tuple('tuple') -- They are similar to lists but are immutable, you can't change the content after creation

coordinates=(3,4)

In [ ]:
#Dictionaries('dict') -- Dictionaries store data in key-value pairs.
-each key is unique, and you can use it to retrive its associated values
-Dictionaries are unordered

student_info={"name":Khyathi, "age":21}

In [ ]:
# Boolean('bool')-Binary values, True or False

is_student=True

In [ ]:
#SETS('set') - Sets are unordered collection of unique elements
- They are commonly used for operations like intersection,union, merge etc

In [ ]:
# None Type

results=None

In [2]:
# Bytes are used to represent binary data such as image files or network packets

binary_data=b'\x00\x01\x02'

In [3]:
# Date and Time Data Types

#Dates ("date"and'time'): These data types are used to represent dates an time respectively - "dataset" module

from datetime import date, time, datetime

current_date=date(2023,9,13)

current_time=time(20,17)

current_datetime=(2023,9,13,20,17)

In [5]:
current_date

datetime.date(2023, 9, 13)

In [6]:
current_time

datetime.time(20, 17)

##Lists and Tuples

In [7]:
#create a list called fruits containing thr name of your favorite fruits

fruits=["apple","mango","fig"]

In [9]:
#access and print the first and last element of fruits list

first_fruit= fruits[0]

last_fruit= fruits[2]

print("First fruit:",first_fruit)

print("last_fruit:",last_fruit)

First fruit: apple
last_fruit: fig

In [10]:
#Modifying lists
fruits.append("cherry")

In [11]:
print(fruits)

['apple', 'mango', 'fig', 'cherry']

In [13]:
fruits[1]="pear"

In [14]:
print("Modified fruits list:",fruits)

Modified fruits list: ['apple', 'pear', 'fig', 'cherry']

In [19]:
# List slicing

selected_fruits=fruits[:3]
print('selected_fruits:',selected_fruits)

selected_fruits: ['apple', 'pear', 'fig']

In [20]:
#list operation

numbers=list(range(1,11))
sum_numbers=sum(numbers)
print("Sum of Numbers:", sum_numbers)

Sum of Numbers: 55

In [21]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
#List comprehension

squared_numbers=[x**2 for x in numbers]

print("Squared numbers:",squared_numbers)

Squared numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
#creating Tuples

coordinates=(12.56, -67.5432) #NY city coordinates

#accessing tuple elements

latitude=coordinates[0]

In [24]:
latitude

12.56

In [25]:
longitude=coordinates[1]

In [26]:
longitude

-67.5432

In [28]:
#Tuple immutability

coordinates[0]=32.456

TypeError: 'tuple' object does not support item assignment

In [29]:
# Tuple Unpacking

person_info=("Khyathi", 21, "Maryland")

name, age, city=person_info

print("Name", name)

print("Age", age)

print("City", city)

Name Khyathi
Age 21
City Maryland

In [31]:
#combining tuples

tuple1=("Khyathi",21)
tuple2=("Sneha",19)
combined_tuple= tuple1 + tuple2
print("combined tuple:", combined_tuple)

combined tuple: ('Khyathi', 21, 'Sneha', 19)

In [32]:
#Nested tuples
nested_tuple=((1,2),(4,5),(6,7))

print("Nested tuple:",nested_tuple)

Nested tuple: ((1, 2), (4, 5), (6, 7))

In [34]:
#Conditional statement
#if, elif, else

grade=89

if grade>=60:
    print("passed")

passed

In [35]:
# Simple Conditional Statement

age=18

if age>=18:
    print("you are an adult")
else:
    print("you are minor")

you are an adult

In [36]:
# Ask for the user temperature value and unit

temperature = float(input("Enter temperature value:"))
unit = input("Enter temperature unit (Celsius or Fahrenheit): ").lower()

#perform temperature conversion
if unit == "celsius":
    fahrenheit = (temperature * 9/5) + 32
    print(f"{temperature}°C is equal to {fahrenheit}°F.")
elif unit == "fahrenheit":
    celsius = (temperature - 32) * 5/9
    print(f"{temperature}°F is equal to {celsius}°C.")
else:
    print("Invalid unit. Please enter Celsius or Fahrenheit.")

Enter temperature value:78
Enter temperature unit (Celsius or Fahrenheit): Fahrenheit
78.0°F is equal to 25.555555555555557°C.

In [37]:
#Grading system

score = int(input("Enter your exam score (out of 100): "))
# Assign a letter grade based on the score
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60:
    grade = "D"
else:
    grade = "F"
print(f"Your letter grade is: {grade}")

Enter your exam score (out of 100): 67
Your letter grade is: D

In [38]:
age = int(input("Enter your age: "))
student_id = input("Do you have a student ID? (yes/no): ").lower()
# Initial ticket price
ticket_price = 10
# Apply discounts based on conditions
if age < 13:
    ticket_price -= 1
elif age >= 65:
    ticket_price = 7
if student_id == "yes":
    ticket_price -= 2
print(f"Your ticket price is ${ticket_price}.")

Enter your age: 99
Do you have a student ID? (yes/no): yes
Your ticket price is $5.

In [39]:
# Ask the user for their credit score and income
credit_score = int(input("Enter your credit score: "))
income = float(input("Enter your annual income: "))
# Define threshold values
credit_score_threshold = 700
income_threshold = 50000
# Initialize the risk category
risk_category = None
# Determine the risk category using if statements
if credit_score >= credit_score_threshold and income >= income_threshold:
    risk_category = "Low Risk"
elif credit_score < credit_score_threshold and income < income_threshold:
    risk_category = "High Risk"
else:
    risk_category = "Medium Risk"
# Provide the risk assessment to the user
print(f"Based on your credit score and income, you are categorized as '{risk_category}'.")

Enter your credit score: 600
Enter your annual income: 70000
Based on your credit score and income, you are categorized as 'Medium Risk'.